.smooth-wrapper.enabled[data-v-f094b133]{pointer-events:none}.smooth-wrapper[data-v-f094b133]:not(.enabled){display:block}.smooth-wrapper:not(.enabled) .smooth-content[data-v-f094b133]{display:block}
